#about-me {
  background-color: $color5;
}
.about {
  min-height: 40vh;
  display: flex;
  align-items: center;
  .about-image {
    width: 40%;
  }
  .about-text {
    text-align: justify;
    width: 60%;
  }
}
