#about-me {
  background-color: $color5;
  padding-top: 50px;
}
.about {
  min-height: 40vh;
  display: flex;
  align-items: center;
  .about-image {
    width: 40%;
  }
  .about-text {
    text-align: justify;
    width: 60%;
    p {
      margin-top: 20px;
    }
  }
}
