html {
  font-family: $robotoSlab;
  font-size: 125%;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
  outline: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
