header {
  min-height: 100vh;
  background: $color2;

  .header-intro {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
  }
  .header-name {
    margin: auto 0;
    padding: 0 50px;
    width: 55%;
    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      letter-spacing: 5px;
    }
    h2 {
      letter-spacing: 3px;
    }
  }
  .header-image {
    position: relative;
    width: 45%;
    .eye {
      position: relative;
      width: 5%;
      height: 5%;
      border-radius: 50%;
      z-index: 1;
    }
    .left-eye {
      top: -44%;
      left: 38%;
    }
    .right-eye {
      top: -49%;
      left: 56%;
    }
    .eye::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 7px;
      transform: translate(-50%, -50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: black;
      border: 6px solid #5c351d;
    }
  }

  .header-image-full {
    display: none;
  }

  #my-name {
    position: relative;
    z-index: 0;
    &:hover {
      color: $color5;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      background-color: rgba($color: $color6, $alpha: 0.7);
      // box-shadow: 0 0 2rem rgba($color: $primaryColor, $alpha: 0.8);
      z-index: -1;
      bottom: 0;
    }
  }

  .speech-bubble {
    // layout
    position: absolute;
    width: 30%;
    left: 40%;
    top: 17%;
    max-width: 30em;
    // looks
    letter-spacing: initial;
    line-height: initial;
    background-color: #fff;
    padding: 1.125em 1.5em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
      0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);

    &::before {
      // layout
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: -10%;
      right: 1.5em; // offset should move with padding of parent
      border: 0.75rem solid transparent;
      border-bottom: none;

      // looks
      border-top-color: #fff;
      filter: drop-shadow(0.2625rem 0.1rem 0.0625rem rgba(0, 0, 0, 0.1));
    }

    &.text-skills {
      left: 45%;
      &::before {
        right: 4rem;
        bottom: -10%;
      }
    }

    &.text-projects {
      left: 60%;
      top: 20%;
      &::before {
        left: 6rem;
      }
    }

    &.text-contact {
      left: 65%;
      top: 20%;
      &::before {
        left: 4rem;
      }
    }
  }
}
