header {
  min-height: 100vh;
  .header-intro {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
  .header-name {
    margin: auto 0;
    padding: 0 50px;
  }
  .header-image {
    position: relative;
    flex-basis: 45%;
    .eye {
      position: relative;
      width: 5%;
      height: 5%;
      border-radius: 50%;
      z-index: 1;
    }
    .left-eye {
      top: -44%;
      left: 38%;
    }
    .right-eye {
      top: -49%;
      left: 56%;
    }
    .eye::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 7px;
      transform: translate(-50%, -50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: black;
      border: 6px solid #5c351d;
    }
  }
  .speech-bubble-left {
    position: absolute;
    width: 60%;
    top: 0;
    left: -25%;
    .speech-bubble-text-about {
      position: absolute;
      width: 70%;
      right: 15%;
      bottom: 40%;
    }
    .speech-bubble-text-skills {
      position: absolute;
      width: 70%;
      right: 15%;
      bottom: 35%;
    }
  }
  .speech-bubble-right {
    position: absolute;
    width: 50%;
    top: 5%;
    right: -15%;
    .speech-bubble-text-projects {
      position: absolute;
      width: 70%;
      right: 10%;
      bottom: 35%;
    }
    .speech-bubble-text-contact {
      position: absolute;
      width: 70%;
      right: 10%;
      bottom: 35%;
    }
  }
}
