nav {
  ul {
    display: flex;
    padding: 2%;
    justify-content: flex-end;
    column-gap: 5%;
    a {
      font-weight: 700;
      padding: 5px 20px;
      text-transform: uppercase;
      transition: all 0.2s;
      &:hover,
      &:active,
      &:focus {
        color: $quaternaryColor;
      }
    }
  }
}
